In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
cell_url = "https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv"
pop_url = "https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv"
geo_url = "https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv"

In [3]:
df_cell = pd.read_csv(cell_url)
df_pop = pd.read_csv(pop_url)
df_geo = pd.read_csv(geo_url)

In [4]:
df_geo.head()

,country,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,longitude,main_religion_2008,name,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Abkhazia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,-69.96667,christian,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AW,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,66.00000,muslim,Afghanistan,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,18.50000,christian,Angola,un_least_developed,un_sub_saharan_africa,True,ssa,AO,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,-63.05000,christian,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AI,americas,america

In [5]:
df_cell_pop = pd.merge(df_cell,df_pop,on=['Country',"year"])

In [6]:
df_cell_pop.head()

       Country  year  cell_phones_total  population
0  Afghanistan  1960                0.0     9000000
1  Afghanistan  1961                0.0     9170000
2  Afghanistan  1962                0.0     9350000
3  Afghanistan  1963                0.0     9540000
4  Afghanistan  1964                0.0     9740000

In [7]:
df_geo.rename(columns={'country': 'geo', 'name': 'Country'}, inplace=True)

In [8]:
df_geo[['geo', 'Country']]  # df2 but only with columns x, a, and b

df_cell_pop=df_cell_pop.merge(df_geo[['geo', 'Country']])

In [9]:
df_cell_pop.shape

(11640, 5)

In [10]:
df_cell_pop["cell_per_person"] = df_cell_pop["cell_phones_total"]/df_cell_pop["population"]

In [11]:
# c=df_cell_pop.groupby(["cell_per_person","Country"])
# c.head()
df_cell_pop.loc[df_cell_pop.cell_per_person == 1.2]

,Country,year,cell_phones_total,population,geo,cell_per_person
11087,United Kingdom,2007,73800000.0,61500000,gbr,1.2

In [12]:
df_cell_pop.loc[df_cell_pop.Country == "United States"]

,Country,year,cell_phones_total,population,geo,cell_per_person
11100,United States,1960,0.0,187000000,usa,0.000000
11101,United States,1961,0.0,190000000,usa,0.000000
11102,United States,1962,0.0,192000000,usa,0.000000
11103,United States,1963,0.0,195000000,usa,0.000000
11104,United States,1964,0.0,197000000,usa,0.000000
11105,United States,1965,0.0,200000000,usa,0.000000
11106,United States,1966,0.0,202000000,usa,0.000000
11107,United States,1967,0.0,204000000,usa,0.000000
11108,United States,1968,0.0,206000000,usa,0.000000
11109,United States,1969,0.0,208000000,usa,0.000000
11110,United States,1970,0.0,210000000,usa,0.000000
11111,United States,1971,0.0,211000000,usa,0.000000
11112,United States,1972,0.0,213000000,usa,0.000000
11113,United States,1973,0.0,215000000,usa,0.000000
11114,United States,1974,0.0,217000000,usa,0.000000
11115,United States,1975,0.0,219000000,usa,0.000000
11116,United States,1976,0.0,221000000,usa,0.000000
11117,United States,1977,0.0,223000000,usa,0.000000
11118,United States,1978,0.0,225000000,usa,0.000000
11119,United States,1979,0.0,227000000,usa,0.000000
11120,United States,1980,0.0,229000000,usa,0.000000
11121,United States,1981,0.0,232000000,usa,0.000000
11122,United States,1982,0.0,234000000,usa,0.000000
11123,United States,1983,0.0,236000000,usa,0.000000
11124,United States,1984,91600.0,238000000,usa,0.000385
11125,United States,1985,340000.0,240000000,usa,0.001417
11126,United States,1986,682000.0,243000000,usa,0.002807
11127,United States,1987,1230000.0,245000000,usa,0.005020
11128,United States,1988,2070000.0,247000000,usa,0.008381
11129,United States,1989,3510000.0,250000000,usa,0.014040
11130,United States,1990,5280000.0,252000000,usa,0.020952
11131,United States,1991,7560000.0,255000000,usa,0.029647
11132,United States,1992,11000000.0,257000000,usa,0.042802
11133,United States,1993,16000000.0,260000000,usa,0.061538
11134,United States,1994,24100000.0,262000000,usa,0.091985
11135,United States,1995,33800000.0,265000000,usa,0.127547
11136,United States,1996,44000000.0,268000000,usa,0.164179
11137,United States,1997,55300000.0,272000000,usa,0.203309
11138,United States,1998,69200000.0,275000000,usa,0.251636
11139,United States,1999,86000000.0,279000000,usa,0.308244
11140,United States,2000,109000000.0,282000000,usa,0.386525
11141,United States,2001,129000000.0,285000000,usa,0.452632
11142,United States,2002,142000000.0,287000000,usa,0.494774
11143,United States,2003,161000000.0,290000000,usa,0.555172
11144,United States,2004,185000000.0,292000000,usa,0.633562
11145,United States,2005,204000000.0,295000000,usa,0.691525
11146,United States,2006,230000000.0,298000000,usa,0.771812
11147,United States,2007,249000000.0,301000000,usa,0.827243
11148,United States,2008,261000000.0,303000000,usa,0.861386
11149,United States,2009,274000000.0,306000000,usa,0.895425
11150,United States,2010,285000000.0,309000000,usa,0.922330
11151,United States,2011,297000000.0,312000000,usa,0.951923
11152,United States,2012,305000000.0,314000000,usa,0.971338
11153,United States,2013,311000000.0,316000000,usa,0.984177
11154,United States,2014,356000000.0,319000000,usa,1.115987
11155,United States,2015,382000000.0,321000000,usa,1.190031
11156,United States,2016,396000000.0,323000000,usa,1.226006
11157,United States,2017,400000000.0,325000000,usa,1.230769
11158,United States,2018,422000000.0,327000000,usa,1.290520
11159,United States,2019,0.0,329000000,usa,0.000000

In [13]:
# ((df_cell_pop['cell_per_person'] == 1.230769) & (df_cell_pop['year'] == 2017)).any()
# data.loc[(data.age >= 12), ['city', 'gender']]
# df_cell_pop.loc[(df_cell_pop.cell_per_person == 1.23), ['Country', 'year']]

In [15]:
# df_cell_pop['geo'] = map(str.upper, df_cell_pop['geo'])
#  = map(lambda x: str(x).upper(), df_cell_pop['geo'])
df_cell_pop['geo']

0        <map object at 0x000002C7DF8E3988>
1        <map object at 0x000002C7DF8E3988>
2        <map object at 0x000002C7DF8E3988>
3        <map object at 0x000002C7DF8E3988>
4        <map object at 0x000002C7DF8E3988>
                        ...
11635    <map object at 0x000002C7DF8E3988>
11636    <map object at 0x000002C7DF8E3988>
11637    <map object at 0x000002C7DF8E3988>
11638    <map object at 0x000002C7DF8E3988>
11639    <map object at 0x000002C7DF8E3988>
Name: geo, Length: 11640, dtype: object